Source: soem
Section: source
Priority: optional
Maintainer: Martin Vogt <mvogt1@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://openethercatsociety.github.io/
Vcs-Git: https://github.com/OpenEtherCATsociety

Package: soem
Architecture: all
Depends: ${misc:Depends}
Description: Open EtherCAT 
 EtherCAT is the open real-time Ethernet network originally developed by Beckhoff.
 EtherCAT sets new standards for real-time performance and topology flexibility.
